body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h1 {
    font-size: 24px;
}

.input-container {
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #0074d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result-container {
    margin-top: 20px;
}

p {
    font-size: 18px;
}
